{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'main/icons/favicon.ico' %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <title>Новости</title>
</head>
<style>
    .col-md-6 div {
        max-height: 200px;
        /* Set the maximum height for the content */
        overflow: auto;
        /* Add scrollbars if content overflows */
        word-wrap: break-word;
        /* Wrap long words to prevent overflow */
    }
</style>

<body>


    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>



    <header class="site-navbar site-navbar-target py-4" role="banner">

        <div class="container">
            <div class="row align-items-center position-relative">

                <div class="col-3 ml-auto order-2 text-end">
                    <div class="site-logo">
                        <a href="/" class="fw-bold">ЦПБ-С</a>
                    </div>
                </div>

                <div class="col-9 order-1 text-left mr-auto">


                    <span class="d-inline-block d-lg-block"><a href="#"
                            class="text-black site-menu-toggle js-menu-toggle py-5"><span
                                class="icon-menu h3"></span></a></span>



                    <nav class="site-navigation text-end ml-auto d-none d-lg-none" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto ">
                            <li><a href="/" class="nav-link">Главная</a></li>
                            <li class="active"><a href="/news" class="nav-link">Новости</a></li>
                            <li><a href="/about" class="nav-link">О нас</a></li>
                            <li><a href="/rules" class="nav-link">Правила пожарной безопасности</a></li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </header>

    <body>
        <div class="content">
            <div class="site-wrapper">
                <a href="/news">
                    <div class="top-0 start-0 mt-3 ms-3" style="color: black; text-decoration: underline;">Назад</div>
                </a>
                <div class="container mt-5 content-wrapper">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="row">
                                {% if news.image %}
                                <div class="col-md-6">
                                    <img src="{{ news.image.url }}" alt="{{ news.title }}" class="img-fluid">
                                </div>
                                {% endif %}
                                <div class="col-md-6">
                                    <h1>{{ news.title }}</h1>
                                    <div>{{ news.content }}</div>
                                    <p>Published on: {{ news.published_date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="opac container footer">
            <div class="d-flex row">
                <div class="col">
                    <div class="text-center">ООО "ЦПБ-С"</div>
                </div>
                <div class="col">
                    <div class="text-center">Sarvaev</div>
                </div>
            </div>
        </footer>
    </body>

</html>
<script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="{% static 'main/js/jquery.sticky.js'%}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>

</html>